@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: rgb(198, 232, 243);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.big-wrapper {
  position: relative;
  padding: 1.7rem 0 2rem;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-color: rgb(225, 226, 248);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  position: relative;
  max-width: 81rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
  z-index: 10;
}

header {
  position: relative;
  z-index: 70;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo img {
  width: 80px;
  margin-right: 0.6rem;
  margin-top: -0.6rem;
}

.logo h3 {
  color: black;
  font-size: 1.55rem;
  line-height: 1.2;
  font-weight: 700;
}

.links ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.links a {
  color: black;
  margin-left: 4.5rem;
  display: inline-block;
  transition: 0.3s;
}

.links a:hover {
  color: black;
  transform: scale(1.05);
}

.btn {
  display: inline-block;
  padding: 0.7rem 1rem;
  color: rgb(4, 0, 0) ;
  background-color: rgb(6, 166, 220);
  border-radius: 50px;
  text-transform: capitalize;
  transition: 0.3s;
}

.btn-login{
  display: inline-block;
  padding: 0.7rem 1rem;
  color: rgb(4, 0, 0) ;
  background-color: rgb(6, 166, 220);
  border-radius: 50px;
  text-transform: capitalize;
  transition: 0.3s;
}

.btn-login:hover{
  background-color: white;
  transform: scale(1) ;
}

.btn:hover {
  background-color: white;
  transform: scale(1) ;
  
}


.showcase-area .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}

.big-title {
  font-size: 1.4rem;
  color: black;
  text-transform: capitalize;
  line-height: 1.4;
}

.text {
  color: black;
  font-size: 1.1rem;
  margin: 1.9rem 0 2.5rem;
  max-width: 600px;
  line-height: 2.3;
}

.showcase-area .btn {
  box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
}

.person {
  width: 50%;
  transform: translate(100%, 50px);
  border-radius: 50px;
}


.shape {
  position: absolute;
  z-index: 0;
  width: 500px;
  bottom: -180px;
  left: -15px;
  opacity: 0.1;
}

.copy {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  animation: appear 1s 1 both;
}

.heading{
  text-align: center;
  background: var(--gradient);
  color: black;
  -webkit-background-clip: text;
  font-size: 3rem;
  text-transform: capitalize;
  padding: 1rem;
}

.features .box-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.features .box-container .box{
  flex: 10 10 5rem;
  background: #fff;
  border-radius: 1rem;
  border: .1rem solid rgba(0,0, 0, .1);
  margin: 1rem;
  padding: 3rem 2rem;
  border-radius: 3rem;
  text-align: center;
  transition: .3s linear;
}

.features .box-container .box:hover{
  background: var(--majorelle-blue);
  transform: translateY(-5px);
  box-shadow: 0 5px 18px hsla(245, 67%, 59%, 0.4);
}


.features .box-container .box img{
  height: 8rem;
}

.features .box-container .box h3{
  font-size: 1.5rem;
  color: #333;
  padding-top: 1rem;
}

.features .box-container .box p{
  font-size: 1.3rem;
  color: #666;
  padding: 1rem 0;
}

.features .box-container .box .pic{
  height: 30%;
  width: 30%;
}

.footer .credit{
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: .1rem;
  color: rgb(0, 0, 0);
  border-top: .1rem solid rgba(148, 213, 238, 0.333);
  padding: 1rem 1rem;
  text-align: center;
}



@keyframes appear {
  0% {
    clip-path: circle(30% at -25% -25%);
  }
  100% {
    clip-path: circle(150% at 0 0);
  }
}

@media screen and (max-width: 870px) {
  

  .links {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 450px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .links ul {
    flex-direction: column;
  }

  .links a {
    color: #fff;
    margin-left: 0;
    padding: 2rem 0;
  }

  .links .btn {
    background: black;
  }

  

  .big-wrapper.active .links {
    transform: translateX(0);
    box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
  }



  .showcase-area {
    padding: 2.5rem 0;
    max-width: 700px;
    margin: 0 auto;
  }

  .showcase-area .container {
    grid-template-columns: 1fr;
    justify-content: center;
    grid-gap: 2rem;
  }

  .big-title {
    font-size: 1.1rem;
  }

  .text {
    font-size: 0.95rem;
    margin: 1.4rem 0 1.5rem;
  }

  .person {
    width: 100%;
    transform: none;
  }

  .logo h3 {
    font-size: 1.25rem;
  }

  .shape {
    bottom: -180px;
    left: -150px;
  }
}

@media screen and (max-width: 470px) {
  .container {
    padding: 0 1.5rem;
  }

  .big-title {
    font-size: 0.9rem;
  }

  .text {
    margin: 1.1rem 0 1.5rem;
  }

  .showcase-area .btn {
    font-size: 0.8rem;
  }
}